/* -- Navbar -- */
.navbar{
	font-size: 1.2rem;
	font-family: 'Merienda One', cursive;		
 }
 @media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
/*-- Footer-- */
#footer{
	padding-bottom: 3%;
	padding-top: 2%;
	background-color:rgb(8, 8, 46);
	color: white;
	background-image: url('images/footer_img.png');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
}
#footer a{
    color: white;
    text-decoration: none;
}
.container_bottom{
	padding-left: 11%; 
	padding-right: 11%;

}
#mail{
	color:#111111;
}
#developer{
	color:#111111;
	text-decoration:none;
}
body{
	font-family: 'Merienda One';	
}

/*Content*/
.outer-container{
	box-shadow: rgb(139, 141, 141) 1px 10px 6px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
	padding:0.01em 16px;
	margin-top:16px;
	margin-bottom:16px;
}
.out_cont{
	background: linear-gradient(180deg, #263e70 0%, #03091b 100%), linear-gradient(255.46deg, #B73E14 0%, #D65C32 100%);
	padding-top: 3%;
	padding-bottom: 2%;
	text-align: center;
}
.out_cont a{
	color: white;
	font-weight: bold;
	font-size: large;
	padding-right: 30px;
}

.out_cont a:hover {
  border-bottom: 4px solid white;
}
.out_cont a.active {
  border-bottom: 4px solid white;
}
#header-content{
	font-family: 'Merienda One';
	text-align: center;
	padding-right: 15%;
	padding-bottom: 5%;
}
#about-coronet{
	margin-top: 0%;
}
#our-management{
	margin-top: 0%;
}
#our-achievements{
	margin-top: 0%;
}
#about-coronet p{
	margin-top: 3%;
	margin-left: 12%;
	margin-right: 12%;
	text-align:justify;
	line-height: 2pc;
	color: dimgray;
}
#our-management p{
	padding-left: 4%; 
	margin-top: 4%;
	padding-right: 4%; 
}
#our-achievements p{
	padding-left: 4%; 
	margin-top: 4%;
	padding-right: 4%; 
}

.img-box img{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
#box h4{
	text-align: center;	
	margin-top: 5%;
	font-family: 'Merienda One', cursive;	
}
#box{
	text-align: center;
}
/*modal*/
.modal-header {
    border: solid rgb(63, 31, 151);
    border-width: 0 0 0 5px;
	display: block;
	margin-top: 0;
	text-align: left;
	font-family: 'Merienda One', cursive;	
}
.modal-body {
    position: relative;
 
}
.btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    opacity: 1;
    z-index: 99;
}
.modal-content{
	padding: 15%  15%;
	position: relative;
}
#para{
	line-height: 32px;
	text-align: justify;
	font-size: medium;
}
.btn1{
  background-color: #1a2144;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  

}
.btn1:hover{
	border: 2px solid#1a2144;;
	color: black; 
	padding:  5px 12px;
	transform: scale(1.2,1.2);
	background-color:white

}
